.dropdown {
  width: 100%;
  height: 100%;
  position: relative;
}
.dropdown a {
  min-width: 100%;
  display: inline-block;
}
.dropdownToggle {
  padding: 9px;
  box-sizing: border-box;
}
.dropdown:hover .dropdownToggle {
  background-color: rgba(33,38,45,0.5);
}
.dropdownContent {
  min-width: 100%;
  display: none;
  position: absolute;
  background-color: rgba(13, 17, 23, 0.5);
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdownContent div {
  min-width: 100%;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #30363d;
}
.dropdownContent div:hover {
  background-color: rgba(33,38,45,0.5);
}
