::-webkit-scrollbar {
  width: 3px;
  background-color: var(--borderColor);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--borderHighlight);
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
#scrollToggle div {
  padding: 0px 32px 0px 5px;
  height: 100%;
  float: right;
  display: flex;
  align-items: center;
}
#scrollToggle div:hover {
  background-color: var(--menuHighlight);
  cursor: pointer;
}
#scroll {
  width: 32px;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#scroll:has([type='checkbox']:checked) {
  border-left: 3px solid var(--borderColor);
}
#scroll input{
  margin: 0px;
  padding: 0px;
  width: 20px;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 5px;
}
#scrollNav {
  width: 100%;
  display: none;
  line-height: 1.4;
}
#scroll [type='checkbox']:checked + #scrollNav {
  display: block;
}
#scrollNav h6{
  margin: auto;
}
.scrollSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--borderColor);
  box-sizing: border-box;
}
.scrollSection:hover {
  background-color: var(--menuHighlight);
  border-top: 1px solid var(--borderHighlight);
}
