.tabber {
  width: 700px;
  margin: 0px auto;
  padding: 0px;
  display: grid;
  justify-items: center;
  grid-template-columns: 320px 380px;  
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
  gap: 0px;
  overflow: hidden;
}
.tabber > [type='radio'] {
  display: none;
}
.tabMenu {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--borderColor);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
}
.tabMenu label {
  flex: 1;
}
.tabMenuEntry {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}
.tabMenuEntry:hover {
  background-color: var(--menuHighlight);
  border-bottom: 1px solid var(--borderHighlight);
}
.tabContent {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 10;
  display: inherit;
  justify-items: center;
  grid-template-columns: 320px 30px 320px 30px;  
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px; 
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms linear;
}
.tabber [type='radio']:checked + .tabContent {
  visibility: visible;
  opacity: 1;
}
.tabbedColumn1 {
  margin: 0px;
  padding 0px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 9;
}
.tabbedColumn2, .tabbedColumn3, .tabbedColumn4 {
  margin: 0px;
  padding 0px;
  grid-row-start: 1;
  grid-row-end: 9;
}
.tabbedColumn2 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.tabbedColumn3 {
  visibility: hidden;
  grid-column-start: 3;
  grid-column-end: 4;
}
.tabbedColumn4 {
  visibility: hidden;
  grid-column-start: 3;
  grid-column-end: 4;
}

@media only screen and (min-width: 1300px)
{
  .tabber {
    width: 1280px;
    grid-template-columns: 320px 320px 320px 320px;  
  }
  .tabMenu {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .tabContent {
    grid-column-end: 5;
    grid-template-columns: 320px 320px 320px 320px;  
  }
  .tabbedColumn2 {
    visibility: visible;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .tabbedColumn3 {
    visibility: visible;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .tabbedColumn4 {
    visibility: visible;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
